<!DOCTYPE html>
<html>
<head>
	<title>BBC-travel</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="travel.css">
</head>
<body>
	<div id="topbanner">
		<!--gambar logo-->
		<img id="logo" src="images/logo.png" alt="logo">

		<!--bagian tombol sign in-->
		<div id="signinDiv" class="topbarSection">
			<img id="singinImage" src="images/signin.png" alt="signin">
			<span id="singinText"> Sign In</span>	
		</div>

		<!--section yang lainnya-->
		<div class="topbarSection topbarMenu">
			<a href="">News</a>
		</div>
		<div class="topbarSection topbarMenu">
			<a href="">Sport</a>
		</div>
		<div class="topbarSection topbarMenu">
			<a href="">Weather</a>
		</div>
		<div class="topbarSection topbarMenu">
			<a href="">Shop</a>
		</div>
		<div class="topbarSection topbarMenu">
			<a href="">Earth</a>
		</div>
		<div class="topbarSection topbarMenu">
			<a href="">Travel</a>
		</div>
		<div class="topbarSection topMenuMore">
			<a href="">More</a>
			<a href=""><img id="moreArrow" src="images/more.png" alt="more"></a>
		</div>

		<!--bagian search-->
		<div class="topbarSection ">
			<input id="searchBar" type="text" placeholder="Search" >
			<input type="image" id="searchIcon" src="images/search.png" alt="search">
		</div>
	</div>

	<!--bagian iklan-->
	<div class="advertisement"></div>

	<!--gambar tangan-->
	<div class="topbar2">
		<a href="">
		<img id="tangan" src="images/hand.jpg">
		</a>
		<div class="travel" style="font-family: Helvetica; color: white; font-size: 40px">travel</div>
		<div class="submenu">
			<ul >
				<li style="color: white;font-size:15px">Culture</li>
				<li style="color: white;font-size:15px">Food</li>
				<li style="color: white;font-size:15px">Discovery</li>
				<li style="color: white;font-size:15px">Experiences</li>
				<li style="color: white;font-size:15px">Destinations</li>
				<li style="color: white;font-size:15px">Series</li>
				<li style="color: white;font-size:15px">About us</li>
			</ul>
		</div>
		<div class="headline" style="font-family: Arial; color: solid white; font-size: 60px;"><b>The French region with a new <br>currency</br></b></div>
	</div>

	<aside class="sidebar">
		<div class="widget">
			<h3><b>Editor's Pick</b></h3>
		<div>
			<img class="kawah" src="images/kawah.jpg">
			<p>World of wonder</p>
		</div>
		<div>
			<img class="kain" src="images/kain.jpg">
			<p>Our Unique World</p>
		</div>
		<div>
			<img class="makanan" src="images/soulfood.jpg">
			<p>Soul Food</p>
		</div>
		<div>
			<img class="berlian" src="images/berlian.jpg">
			<p>The World's rarest</p>
		</div>
		<div class="socialmedia">
			<div class="sc1">
				<div> <img class="fb" src="images/facebook.jpg"></div>
				<div><img class="twitter" src="images/twitter1.png"></div>
			</div>
			<div class="sc2">
				<div><img class="ig" src="images/instagram.jpg"></div>
			</div>
		</div>	
		</div>
	</aside>

	<!--konten website-->
	<div class="konten">
		<div class="info">
			<img src="images/food.jpg" style="width: 400px">
			<h2>A gender fight over an italian dish</h2>
			<p>Praised for its unique texture and message of solidarity, this iconic Sicilian dish is an surprising source of conflict within the island.</p>

		</div>
		<div class="info">
			<img src="images/man.jpg" style="width: 400px">
			<h2>The synagogues preserved by muslims</h2>
			<p>For more than 100 years, the synagogues in Kolkata, India, have been cared for by Muslims in a shining example of friendship uniting faith.</p>
		</div>
		<div class="info">
			<img src="images/farm.jpg" style="width: 400px">
			<h2>The farm trapped between two countries</h2>
			<p>Outside the last physically divided city on Earth, a small, olive oil-producing farm surrounded by barbed wire thrives in a UN-controlled buffer zone.</p>
		</div>
	</div>
	

	<!--bagian paling bawah bbc-->
	 <!-- Explore the bbc -->
        <div id="explore">
            <div class="explore2">
                <p id="exploreHeading">
                    Explore the BBC
                </p>
            </div>
            <div class="explore3">
                <a href="http://">Home</a><br>
                <a href="http://">Travel</a><br>
                <a href="http://">Radio</a><br>
                <a href="http://">Music</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">News</a><br>
                <a href="http://">Capital</a><br>
                <a href="http://">CBBC</a><br>
                <a href="http://">Arts</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">Sport</a><br>
                <a href="http://">Culture</a><br>
                <a href="http://">CBeebies</a><br>
                <a href="http://">Make It Digital</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">Weather</a><br>
                <a href="http://">Autos</a><br>
                <a href="http://">Food</a><br>
                <a href="http://">Taster</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">Shop</a><br>
                <a href="http://">Future</a><br>
                <a href="http://">iWonder</a><br>
                <a href="http://">Nature</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">Earth</a><br>
                <a href="http://">TV</a><br>
                <a href="http://">Bitesize</a><br>
                <a href="http://">Local</a>
            </div>
            <hr id="xHr">
            <div id="fotter">
                <p>
                    <a href="http://">Terms of Use</a>
                    <a href="http://">About the BBC</a>
                    <a href="http://">Privacy Policy</a>
                    <a href="http://">Cookies</a>
                    <a href="http://">Accessibility Help</a>
                    <a href="http://">Parental Guidance</a>
                    <a href="http://">Contact the BBC</a>
                    <a href="http://">Get Personalised Newsletters</a>
                </p>
                <p>
                    <a href="http://">Advertise with us</a>
                    <a href="http://">Ad choices</a>
                </p>
                <p>Copyright &copy 2019 BBC. The BBC is not responsible for the content of external sites.
                    <a href="http://">Read about our approach to external linking.</a>
                </p>
            </div>
            
        </div>

</body>
</html>